.cache/
.vscode/
.vs/
.idea/
.claude/

cmake-build-*/
build/
build-mymusicplayer/
output/
AppDir/
out/
MyMusicPlayer/build-mymusicplayer-release/
MyMusicPlayer/.cache/
CMakeSettings.json

*.tar.gz
*.deb
*.pkg
*.zip
